* {
    Margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

    }
    
body{
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: repeat;
    background-size: 20%;
    
}

#contenedor {
    width: 1280px;
    background: black;
    margin: 1em auto;
    border-style: dotted;
    border-color: white;
}
/* -------HEADER------- */
#header{
    height: 20%;
    background: black;
    text-align: center;
    letter-spacing: 5px;
    margin: 1em;   
}
#header h1{
    padding-top: 30px;
    font-size: 50px;
    color: palevioletred;
}
#header p{
    font-size: 20px;
    font-style: italic;
    color: white;
}
/* -------NAV------- */
#nav{    
    height: 5%;
    background: black;
    margin: 1em;
    text-align: center;
}
#nav.button{
    padding: 1em;
}
#nav ul{
    list-style-type: none;
    display:inline-block;
}

#contenido{
    display: inline-flex;
    flex-wrap: wrap;
    background: black;
}

#section{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    height: 95%;
    width: 70%;
    margin: 1em;
    float: left;
    text-align: center;
}
/* -------ASIDE------- */
#aside{
    display: inline-flex;
    flex-wrap: wrap;
    height: 95%;
    width: 25%;
    margin: 1em;
    float: right;
    text-align: center;
    justify-content: center;
}

#aside ul{
    list-style-type: none;
    font-size: 18px;
    color: white;    
}

#listaJuegos{
    width: 90%;
    padding: 10px;
    background: #000;
    margin: 0.8em;
    border-style: double;
    border-color: white;   
}
#aside h1{
    color: white;
    font-size: 40px;
}
#aside h2{
    color: palevioletred;
    font-size: 20px;
}


/* -------INFO Juegos------- */

.juego{
    background: white;
    width: 95%;
    margin: 1em;
    border-color: palevioletred;
    border-style: double;
    border-width: 5px;
}

.juego img{
    float: left;
    margin: 0.5em;
}
.juego h1{
    padding-top: 0.5em;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    text-decoration-style: double;
    color: palevioletred;
}
.juego p{
    font-size: 15px;
    margin: 0.5em;
}

/* -------FOOTER------- */
#footer{
    align-content: center;
}

#grillaConteiner{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: black;    
    padding: 5px;
    margin: 0.5em;
    justify-content: center;
    border-top-color: white;
    border-top-style: double;
    border-top-width: 5px;

}
.columnaFooter{
    font-size: 20px;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 10px;    
    margin: 0.25em;
    font-family: 'Merriweather', serif;
 
}
#irArriba{
    background-color: black;
    padding: 3px;
}

#irArriba:hover {
    background-color: black;
    border: 1px solid;
    border-color: palevioletred;
    text-decoration: none;
  }

:root { 
    scroll-behavior: smooth; 
}

/* -------BOTON------- */
    .button {
    font-family: 'Merriweather', serif;
    background-color: palevioletred;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  a.button:hover {
    background-color: #000;
    border: 1px solid;
    border-color: palevioletred;
  }

  /* -------FORMULARIO Reportar bugs------- */
.formulario{
    background: white;
    width: 95%;
    margin: 1em;
    border-color: palevioletred;
    border-style: double;
    border-width: 5px;
    padding: 1em;
}
.formulario h1{
    padding-top: 0.5em;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    text-decoration-style: double;
    color: palevioletred;
}
.formulario p{
    font-size: 15px;
    margin: 0.5em;
}

    textarea {
    width: 400px;
    height: 150px;
    font-size: 14px;
  }

  input{
    width: 400px;
    font-size: 14px;
  }
  
  
